APP_NAME=TORQUE API
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1
CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=torque_db
MYSQL_USER=torque_user
MYSQL_PASSWORD=change_me
